body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: white;
  }
  
  .board-row {
    display: flex;
    vertical-align: center;
  }
  
  .square {
    border: 1px solid black;
    float: left;
    height: 140px;
    margin-right: 2px;
    margin-top: -1px;
    margin-bottom: 2px;
    padding: 0px;
    justify-content: cneter;
    justify-items: center;
    width: 100px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .grid {
    justify-content: center;
    background-color: rgb(158, 111, 111);
  }

  .rules {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
  }

  .headerText {
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
  }

  .statatistics {
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
    font-size: 20px;
    background-color: blanchedalmond;
  }

  .startOver {
    background-color:aquamarine;
  }

