.App {
  text-align: center;
}
.App-body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #687186;
  min-height: 100vh;
  min-width: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}